<div class='container'>

  <div class='row'>
    <header>Welcome to Mimir's Market. Please Log in.</header>
  </div>

<div class="row">
  <form id='login' action="/login" method="get">
    <label>Username</label><input id='user' type="text" name="user">
    <input type="submit">
  </form>
</div>

</div>
